:root {
    --color-bg-primary: #000000;
    --color-bg-secondary: #1F1F1F;
    --color-primary: #ffffff;
    --color-secondary: #A9A9A9;
    --color-thirdly: #959595;
    --color-accent: #0088ff;
}
body {
    background: var(--color-bg-primary);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
* {
    font-family: sans-serif;
}
* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0)} 
.main {
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 100%;
}
h1 {
    color: var(--color-primary);
    font-size: 30px;
    margin: 0;
}
.delete_icon{
    width: 30px;
    cursor: pointer;
    grid-column: 2/-1;
    grid-row: 1/-1;
    align-self: center;
}
.note_template {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: auto auto;
    background: var(--color-bg-secondary);
    border-radius: 10px;
    padding: 15px;
    column-gap: 40px;
    
}
.note_h {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.note_date {
    color: var(--color-secondary);
    font-size: 15px; 
    margin-top: 5px;
}
#notes_count {
    font-size: 18px;
    color: var(--color-thirdly);
    margin-bottom: 20px;
}
#add_note_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #0088ff;
    right: 20px;
    bottom: 80px;
    position: fixed;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#notes_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
}
.edit_screen {
    display: none;
    flex-direction: column;
    height: 100vh; 
    width: 100%;
}
.back_arrow {
    fill: var(--color-accent);
    width: 25px;
    height: 25px;
    background: var(--color-bg-secondary);
    padding: 10px;
    border-radius: 10px;
}
.arrow_div {
    background: var(--color-bg-primary);
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.note_title {
    margin-top: 40px;
    border: none;
    background: var(--color-bg-primary);
    color: var(--color-primary);
    font-weight: bold;
    font-size: 28px;
    outline:none;
    width: 100%;
}
.note_text {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: var(--color-primary);
    outline: none;
    border: none;
    resize: none;
    background: var(--color-bg-primary);
    margin-top: 20px;
    font-size: 18px;
}
.bottom_menu {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background: var(--color-bg-primary);
    left: 0;
    display: flex;
    user-select: none;
}
.bottom_menu_column_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:var(--color-bg-secondary);
    width: 50%;
    color:var(--color-accent);
    border-radius: 10px;
}
.bottom_menu_column_unactive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: var(--color-thirdly);
}
.bottom_menu_img_active {
    stroke: var(--color-accent);
    fill: none;
    width: 40px;
    height: 40px;
}
.bottom_menu_img_unactive {
    stroke: var(--color-thirdly);
    fill: none;
    width: 40px;
    height: 40px; 
}
#input_box {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: var(--color-bg-secondary);
    color: var(--color-primary);
    font-size: 20px;
    height: 30px;
    font-weight: bold;
    width: 100%;
}
#add_task {
    background: #22639c;
    color: #c2e2ff;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
#to_dos_input_flex {
    display: none;
    margin-top: 10px;
}
#list_container {
    padding: 0;
    display: none;
    flex-direction: column;
    row-gap: 12px;
}
ul li {
    list-style:none;
    cursor: pointer;
    user-select: none;
    position: relative;
    font-size: 20px;
    color: var(--color-primary);
    font-weight: bold;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: var(--color-bg-secondary);
    border-radius: 10px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 30px;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('unchecked.png');
    background-size: cover;
    background-position: center;
    left: 10px;
}
ul li.checked {
    text-decoration: line-through;
    color: var(--color-secondary);
}
ul li.checked::before {
    background-image: url('checked.png');
}
ul li span {
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-accent);
}
#info_fixed {
    width: 30px;
    height: 30px;
    margin-left: auto;
    top: -30px;
    position: relative;
}