:root {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #dcdcda;
    --color-primary: #000000;
    --color-secondary: #444444;
    --color-thirdly: #595959;
    --color-accent: #0088ff;
}
.darkstyle {
    --color-bg-primary: #161617;
    --color-bg-secondary: #212224;
    --color-primary: #ffffff;
    --color-secondary: #AEAEAE;
    --color-thirdly: #A2A2A2;
    ul li::before {
        background-image: url('images/unchecked-dark.svg');
    }
}
body {
    background: var(--color-bg-primary);
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}
@font-face {
    font-family: robotoRegular;
    src: url('Roboto/Roboto-Regular.ttf');
   }
@font-face {
    font-family: robotoLight;
    src: url('Roboto/Roboto-Light.ttf');
   }
@font-face {
    font-family: robotoBold;
    src: url('Roboto/Roboto-Bold.ttf');
   }
.main {
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 100%;
}
h1 {
    color: var(--color-primary);
    font-size: 30px;
    margin: 0;
    font-family: robotoBold;
    font-weight:  normal;
}
.delete_icon{
    width: 30px;
    cursor: pointer;
    grid-column: 2/-1;
    grid-row: 1/-1;
    align-self: center;
}
.note_template {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: auto auto;
    background: var(--color-bg-secondary);
    border-radius: 10px;
    padding: 15px;
}
.note_h {
    color: var(--color-primary);
    font-size: 20px;
    font-family: robotoBold;
    width: 100%;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.note_date {
    color: var(--color-secondary);
    font-size: 15px; 
    margin-top: 5px;
    font-family: robotoRegular;
}
#notes_count {
    font-size: 18px;
    color: var(--color-thirdly);
    margin-bottom: 20px;
    font-family: robotoRegular;
}
#add_note_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #0088ff;
    right: 20px;
    bottom: 80px;
    position: fixed;
    color: #ffffff;
    font-family: robotoBold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#notes_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 130px;
}
.edit_screen {
    display: none;
    flex-direction: column;
    height: 100vh; 
    width: 100%;
    padding: 0;
}
.back_arrow {
    fill: var(--color-primary);
    height: 25px;
}
.arrow_div {
    background: var(--color-bg-primary);
    position: fixed;
    width: 100%;
    top: 0;  
    padding-top: 10px;
    padding-bottom: 10px;
}
.note_title {
    margin-top: 30px;
    border: none;
    background: var(--color-bg-primary);
    color: var(--color-primary);
    font-weight: bold;
    font-size: 28px;
    outline:none;
    width: 100%;
    font-family: robotoBold;
}
.note_text {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: var(--color-primary);
    outline: none;
    border: none;
    resize: none;
    background: var(--color-bg-primary);
    margin-top: 10px;
    font-size: 18px;
    font-family: robotoRegular;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.bottom_menu {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background: var(--color-bg-primary);
    left: 0;
    display: flex;
    user-select: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom_menu_column_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color:var(--color-accent);
    font-family: robotoRegular;
    
}
.bottom_menu_column_unactive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: var(--color-thirdly);
    font-family: robotoRegular;
}
.bottom_menu_img_active {
    stroke: var(--color-accent);
    fill: none;
    width: 40px;
    height: 40px;
}
.bottom_menu_img_unactive {
    stroke: var(--color-thirdly);
    fill: none;
    width: 40px;
    height: 40px; 
}
#input_box {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: var(--color-bg-secondary);
    color: var(--color-primary);
    font-size: 20px;
    height: 30px;
    margin-top: 10px;
    display: none;
    font-family: robotoRegular;
}
#list_container {
    padding: 0;
    display: none;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 50px;
}
ul li {
    list-style:none;
    cursor: pointer;
    user-select: none;
    position: relative;
    font-size: 20px;
    color: var(--color-primary);
    font-family: robotoBold;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background: var(--color-bg-secondary);
    border-radius: 10px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 30px;
    display: flex;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('images/unchecked.svg');
    background-size: cover;
    background-position: center;
    left: 10px;
    top: 10px;
}
ul li.checked {
    text-decoration: line-through;
    color: var(--color-secondary);
}
ul li.checked::before {
    background-image: url('images/checked.svg');
}
ul li span {
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--color-accent);
}
#info_fixed {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-left: auto;
    stroke: var(--color-primary);
    fill: none;
}
.modal_box_bg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    display: none;
    justify-content: flex-end;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s;
}
.modal_box_focus {
    height: fit-content;
    margin-right: 10px;
    margin-top: 60px;
    background: var(--color-bg-secondary);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.info_back {
    fill: var(--color-accent);
    width: 30px;
    height: 30px;
}
#modal_box_made {
    color:var(--color-primary);
    font-size: 18px;
    font-family: robotoBold;
}
.modal_box_theme_h {
    color: var(--color-primary);
    font-size: 20px;
    font-family: robotoRegular;
    margin-left: 5px;
}
.theme_change_btn {
    background: var(--color-bg-primary);
    padding: 10px;
    border-radius: 10px;
    color: var(--color-primary);
    font-family: robotoBold;
    cursor: pointer;
}